[Unit]
Description=Nexory Dev Backend (Spring Boot)
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/nexory-dev/backend
ExecStart=java -jar /var/www/nexory-dev/backend/target/nexory-dev-backend-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nexory-backend

[Install]
WantedBy=multi-user.target
