RewriteEngine On

# React Router: redirect all non-file, non-dir requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

<Files ".env">
  Require all denied
</Files>